<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Kije’s LAB" />
    <meta name="keywords" content="template, theme, portfolio, developer" />
    <meta name="description" content="One Page Template for Developer Portfolio" />
    <title>Sung Kyung AN</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Mukta:wght@300;500;800&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500&display=swap" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/theme.css" />

  </head>
  <body>
    <!-- Header 시작 -->
    <header>
      <div class="container">

      </div>
    </header>
    <!-- Header 끝 -->
    <!-- Navbar 시작 -->
    <!-- Navbar 시작 -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid text-uppercase">
        <a class="navbar-brand" href="#">Sung Kyung AN</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse sticky-fixed" id="navbarNav">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="#summary">Summary</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#project">Project</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#stacks">Stacks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#education">Education</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
          </ul>
          <form class="d-flex">
            <div class="btn-box">
              <a href="https://restpack.io/html2pdf/save-as-pdf" class="btn btn-3" target="_blank" >SAVE PDF</a> 
            </div>
          </form>
        </div>
      </div>
    </nav>
    <!-- Navbar 끝 -->
    <!-- Main 시작 -->
    <main>
      <!-- Summary 시작 -->
      <section class="container pt mt" id="summary">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-header fonsiz-xxxl fonwei-en-xxl letsp-sm text-upper color-basic">Summary</h2>
            <br class="color-basic fonsiz-xl fonwei-kr-xs letsp-xs ws-sm mt-4">
            <p class="color-basic fonsiz-xl fonwei-kr-xs letsp-xs ws-sm mt-4">
              안녕하십니까. &nbsp; <span class="fonwei-en-xl letsp-md">BackEnd &nbsp;</span>개발자 안성경입니다.</br>
                저는 실력을 당당히 펼치고 인정받을 수 있는 일이 좋습니다.
            </br><span class="fonwei-en-xl letsp-md">프로그래밍</span>이 그 일이라고 느꼈고, 제 선택에 후회가 없습니다.</br>
                작은 능력이라도 최상으로 발휘할 수 있도록 <span class="fonwei-en-xl letsp-md">기회</span>를 주는 곳,</br>
                한 층 실력을 키워나갈 수 있는 회사에서 개발자로서의 <span class="fonwei-en-xl letsp-md">새로운 출발</span>을 하고 싶습니다.
            </p>
          </div>
        </div>
      </section>
      <!-- Summary 끝 -->
      <!-- Project 시작 -->
      <section class="container pt mt" id="project">
        <h2 class="section-header fonsiz-xxxl fonwei-en-xxl letsp-sm text-upper color-basic">Project</h2>
        <div class="section-desc fonsiz-sm color-basic-opac letsp-sm ws-xs mt-2 mb-4">
          가장 중요한 자산은 태도라고 생각합니다. 문제를 대하는 태도, 개발을 대하는 태도, 팀원을 대하는 태도가 오랜 시간과 결합하면 엄청난 능력이 된다고 믿습니다.
        </div>
        <div class="card shadow">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table borderless table-hover align-middle">
                <thead class="border-0 borderless" border="0">
                  <tr class="fonsiz-sm fonwei-kr-md letsp-sm color-basic-opac text-center vertmid">
                    <th>프로젝트</th>
                    <th>소개</th>
                    <th>개발 참여도</th>
                    <th>링크</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                      <th class="table-title" scope="col">TRADERS</br> 증권 커뮤니티 사이트</th>
                    <td>
                      <div> [TRADERS] 투자의 중요성이 높아지면서 주식에 대한 관심이 커지고 있다.<br>이러한 사회 경향을 반영하여 사용자들에게 주식 투자에 대한 의사결정을 돕기 위해 주식 커뮤니티 사이트 TRADERS를 구현하였다. </div>
                      <div>
                        #뉴스 #자유게시판 #갤러리
                        #오픈익명채팅방 #계좌 #나의자산
                        #투자성향테스트 #소셜로그인
                      </div>
                      <div>
                        <span class="badge bg-done">Done</span>
                        <span class="badge bg-grey">SpringBoot</span>
                        <span class="badge bg-grey">Django</span>
                        <span class="badge bg-grey">Java</span>
                        <span class="badge bg-grey">Python</span>
                        <span class="badge bg-grey">JavaScript</span>
                        <span class="badge bg-grey">Oracle</span>
                        <span class="badge bg-grey">AWS EC2</span>
                        <span class="badge bg-grey">AWS RDS</span>
                        <span class="badge bg-grey">AWS S3</span>
                        <span class="badge bg-grey">Travis CI</span>
                      </div>
                    </td>
                      <td class="text-center">
                          <div class="progress">
                              <div class="progress-bar progress-bar-striped bg-info" style="width: 100%">
                                  <span class="progress-desc">100%</span>
                              </div>
                          </div>
                          <div class="progress-desc">백앤드 일부 개발</div>
                      </td>
                    <td class="text-center">
                      <span class="text-muted" data-bs-toggle="modal" data-bs-target="#Modal1">
                        <i class="bi bi-file-earmark-slides"></i>
                        <div class="modal fade" id="Modal1" tabindex="-1" aria-labelledby="Modal1Label" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="Modal1Label">개발 프로젝트 증빙 자료</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <img src="assets/img/traders.jpg" alt="" height="400px" width="400px">
                                <p class="modal-desc">
                                    <span class="fonwei-en-xl letsp-md">▶ 프로젝트 개요 :</span> TRADER는 주식 커뮤니티로서, 주식의 종가와 차트, 뉴스에 대한 정보를 확인할 수 있다.<br>
                                    또한 사이트에서 제공되는 정보를 통해 자유게시판, 익명 채팅방, 갤러리와 같은 커뮤니티 기능에서 다른 사용자들과 다양한 의견을 나눌 수 있다.<br><br>
                                    <span class="fonwei-en-xl letsp-md">▶ 사용 프로그램 언어 :</span> Java, Python<br><br>
                                    <span class="fonwei-en-xl letsp-md">▶ 사용 라이브러리 :</span> SpringBoot, Matplotlib, Django, Django-REST-Framework, Django-cors-header<br><br>
                                    <span class="fonwei-en-xl letsp-md">▶ 개발 기간 :</span> 2021-05-01 ~ 2021-06-23<br><br>
                                    <span class="fonwei-en-xl letsp-md">▶ 맡은 기능 :</span> 자유 게시판, 유효성 검사, 익명 채팅방, 투자성향 테스트, AWS CI, S3, RDS관리<br><br>
                                    <span class="fonwei-en-xl letsp-md">▶ 프로젝트 링크 :</span> <a href="http://ec2-13-124-213-41.ap-northeast-2.compute.amazonaws.com:8080/main">TRADERS</a>
                                </p>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </span>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
      <!-- Project 끝 -->

      <section class="container pt mt mb-5" id="stacks">
        <h2 class="section-header fonsiz-xxxl fonwei-en-xxl letsp-sm text-upper color-basic">Stacks</h2>
        <div class="section-desc fonsiz-sm color-basic-opac letsp-sm ws-xs mt-2 mb-4">
          만들고자 하는 목표에 대해 필요한 기술들을 빠르게 습득하고 구현합니다.
          할 수 있는 경계선을 더 넓혀 나가고자 합니다.
        </div>
        <div class="card shadow">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover align-middle">
                <thead>
                  <tr class="fonsiz-sm fonwei-kr-md letsp-sm color-basic-opac text-center vertmid">
                    <th>기술 구분</th>
                    <th>로고</th>
                    <th>활용 수준</th>
                    <th>평가</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="col" class="table-title letsp-md">Java</th>
                        <td>
                            <a href="https://ko.wikipedia.org/wiki/%EC%9E%90%EB%B0%94_(%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D_%EC%96%B8%EC%96%B4)" target="_blank">
                                <img src="/assets/img/java.png" alt="Java Logo" />
                            </a>
                        </td>
                        <td>
                            자바 기반의 프레임워크 스프링 부트를 사용하여 주식 커뮤니티 웹 사이트를 구현했습니다.<br> 또한 모바일 앱 개발을 위한 안드로이드 스튜디오를 학습했습니다.

                        </td>
                        <td>
                            <div class="star-icon text-center">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="col" class="table-title letsp-md">JavaScript</th>
                        <td>
                          <a href="https://ko.wikipedia.org/wiki/%EC%9E%90%EB%B0%94%EC%8A%A4%ED%81%AC%EB%A6%BD%ED%8A%B8" target="_blank">
                            <img src="/assets/img/js.png" alt="JavaScript Logo" />
                          </a>
                        </td>
                        <td>
                            자바스크립트를 통해 기능을 제어하고 이벤트를 발생시킬 수 있습니다.<br>AJAX를 이용하여 새로 고침 없이 JSON 형태로 필요한 데이터를 가져오거나 처리할 수 있습니다.
                        </td>
                        <td>
                          <div class="star-icon text-center">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star"></i>
                          </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="col" class="table-title letsp-md">SpringBoot</th>
                        <td>
                            <a href="https://spring.io/projects/spring-boot" target="_blank">
                                <img src="/assets/img/springboot.jpg" alt="springboot Logo" />
                            </a>
                        </td>
                        <td>
                            MVC2 패턴을 이해하고 있으며, MYBATIS를 사용하여 프로그램 코드와 sql 쿼리를 분리합니다.<br> 다음으로 JSP를 통해 뷰에 데이터를 출력합니다.<br>MUSTACHE와 JPA를 배운 경험이 있지만 그것을 활용할 수 있도록 더 공부하고 싶습니다.
                        </td>
                        <td>
                            <div class="star-icon text-center">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="col" class="table-title letsp-md">Linux</th>
                        <td>
                          <a href="https://ko.wikipedia.org/wiki/%EB%A6%AC%EB%88%85%EC%8A%A4" target="_blank">
                            <img src="/assets/img/linux.png" alt="linux Logo" />
                          </a>
                        </td>
                        <td>
                            기본적인 리눅스 SHELL 명령어를 사용할 수 있습니다.<br>CENTOS 환경에서 프로젝트를 배포한 경험이 있습니다.
                        </td>
                        <td>
                          <div class="star-icon text-center">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star"></i>
                            <i class="bi bi-star"></i>
                          </div>
                        </td>
                    </tr>

                  <tr>
                    <th scope="col" class="table-title letsp-md">Oracle</th>
                    <td>
                      <a href="https://ko.wikipedia.org/wiki/%EC%98%A4%EB%9D%BC%ED%81%B4_%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B2%A0%EC%9D%B4%EC%8A%A4" target="_blank">
                        <img src="/assets/img/oracle.png" alt="Oracle Logo" />
                      </a>
                    </td>
                    <td>
                        테이블 설계를 할 수 있으며, 테이블 간에 연관 관계를 맺을 수 있습니다.<br>SQL DEVELOPER를 사용하여 테이블 CRUD가 가능하고 다른 테이블과 조인하여 원하는 데이터를 조회할 수 있습니다.
                    </td>
                    <td>
                      <div class="star-icon text-center">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="col" class="table-title letsp-md">Travis CI</th>
                    <td>
                      <a href="https://ko.wikipedia.org/wiki/Travis_CI" target="_blank">
                        <img src="/assets/img/travis.png" alt="Travis Logo" />
                      </a>
                    </td>
                    <td>
                        프로젝트에서 배포 자동화를 구현하는데 TRAVIS CI를 사용했습니다.<br>TRAVIS CI를 사용하여 깃허브에 PUSH를 하면 자동으로 배포가 되도록 구현했습니다.
                    </td>
                    <td>
                      <div class="star-icon text-center">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star"></i>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="col" class="table-title letsp-md">AWS EC2</th>
                    <td>
                      <a href="https://ko.wikipedia.org/wiki/%EC%95%84%EB%A7%88%EC%A1%B4_%EC%9D%BC%EB%9E%98%EC%8A%A4%ED%8B%B1_%EC%BB%B4%ED%93%A8%ED%8A%B8_%ED%81%B4%EB%9D%BC%EC%9A%B0%EB%93%9C" target="_blank">
                        <img src="/assets/img/ec2.png" alt="AWS EC2 Logo" />
                      </a>
                    </td>
                    <td>
                        EC2 환경에서 프로젝트를 배포를 하고 RDS를 통해 데이터를 관리했습니다.<br>
                        또한 AWS IAM 사용자에 권한을 추가하여 EC2가 S3와 codeDeploy에 접근할 수 있도록 권한을 부여했습니다.
                    </td>
                    <td>
                      <div class="star-icon text-center">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star"></i>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="col" class="table-title letsp-md">AWS S3</th>
                    <td>
                      <a href="https://ko.wikipedia.org/wiki/%EC%95%84%EB%A7%88%EC%A1%B4_S3" target="_blank">
                        <img src="/assets/img/s3.png" alt="AWS S3 Logo" />
                      </a>
                    </td>
                    <td>
                      이미지, 파일 등을 AWS에서 제공하는 <span class="ls-0">AWS S3</span> 라이브러리를 연동하여 사용하고 있습니다<br/>
                      파일을 업로드하고 퍼블릭 주소를 반환받아 문자열 형태로 데이터베이스에 보관하여 사용하고 있습니다 
                    </td>
                    <td>
                      <div class="star-icon text-center">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star"></i>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="table-desc fonsiz-xs fonwei-kr-sm letsp-sm text-center color-basic-opac">객관화하기 어려운 관계로, 제가 이해하고 구현할 수 있는 수준을 작성했습니다.</div>
          </div>
        </div>
      </section>
      <section id="charts" class="container">
        <div class="row">
          <div class="col-sm-6 col-lg-3 d-flex align-items-stretch">
            <div class="card mb-3">
              <div class="pt-5 pb-4">
                <canvas id="chart1"></canvas>
              </div>
              <div class="card-body">
                <div>
                  <h4 class="card-title fonsiz-xl fonwei-en-xxl letsp-xxl text-upper text-center text-primary">Front End</h4>
                </div>
                <div class="card-text fonsiz-sm fonwei-kr-sm letsp-sm mb-3 mt-3 px-2"><span class="ls-0">JavaScript</span>를 많이 사용해 왔으며, 흥미를 느끼는 언어입니다. 특히 <span class="ls-0">JQuery</span>에 관심이 많습니다.</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3 d-flex align-items-stretch">
            <div class="card mb-3">
              <div class="pt-5 pb-4">
                <canvas id="chart2"></canvas>
              </div>
              <div class="card-body">
                <h4 class="card-title fonsiz-xl fonwei-en-xxl letsp-xxl text-upper text-center text-primary">Back end</h4>
                <div class="card-text fonsiz-sm fonwei-kr-sm letsp-sm mb-3 mt-3 px-2"><span class="ls-0">Java</span>를 가장 많이 사용하며 <span class="ls-0">SpringBoot </span>프레임워크를 활용하고 있습니다. <span class="ls-0">Python</span>을 공부해보고 싶습니다.</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3 d-flex align-items-stretch">
            <div class="card mb-3">
              <div class="pt-5 pb-4">
                <canvas id="chart3"></canvas>
              </div>
              <div class="card-body">
                <h4 class="card-title fonsiz-xl fonwei-en-xxl letsp-xxl text-upper text-center text-primary">Data base</h4>
                <div class="card-text fonsiz-sm fonwei-kr-sm letsp-sm mb-3 mt-3 px-2"><span class="ls-0">Oracle</span>를 가장 좋아하며 <span class="ls-0">SQL Developer</span>를 활용하고 있습니다.</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3 d-flex align-items-stretch">
            <div class="card mb-3">
                <div class="pt-5 pb-4">
                    <canvas id="chart4"></canvas>
                </div>
                <div class="card-body">
                    <h4 class="card-title fonsiz-xl fonwei-en-xxl letsp-xxl text-upper text-center text-primary">Utilities</h4>
                    <div class="card-text fonsiz-sm fonwei-kr-sm letsp-sm mb-3 mt-3 px-2">협업하는 데 있어<span class="ls-0"> GitHub, Jandi </span> 를 사용하고 있습니다. </div>
                </div>
            </div>
          </div>
        </div>
      </section>
      <section class="container pt mt" id="education">
        <h2 class="section-header fonsiz-xxxl fonwei-en-xxl letsp-sm text-upper color-basic">Education</h2>
        <div class="section-desc fonsiz-sm color-basic-opac letsp-sm ws-xs mt-2 mb-4">

        </div>
        <div class="row">
          <div class="col-sm-12 col-lg-4">
            <div class="card mb-3">
              <img src="/assets/img/bit.jpg" class="card-img-top" alt="bit Picture" style="width:auto; height:45.5vh;"/>
              <div class="card-body p-4">
                <h5 class="card-title fonsiz-xxl fonwei-kr-xl letsp-sm">비트 교육센터</h5>
                <p class="card-text fonsiz-sm fonwei-kr-sm color-basic-opac letsp-sm">
                   AWS를 활용한 웹 & 모바일 컨텐츠 개발자 양성과정<br>
                  <span class="ls-0">2020-12-24 ~ 2021-06-25</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-lg-4">
            <div class="card mb-3">
              <img src="/assets/img/uni.jpg" class="card-img-top" alt="university Picture" style="width:auto; height:45.5vh;"/>
              <div class="card-body p-4">
                <h5 class="card-title fonsiz-xxl fonwei-kr-xl letsp-sm">상명대학교 천안캠퍼스</h5>
                <p class="card-text fonsiz-sm fonwei-kr-sm color-basic-opac letsp-sm">
                  금융경영학과 3.65 / 4.5<br>
                  <span class="ls-0">2014-03 ~ 2018-02</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-lg-4">
            <div class="card mb-3">
              <img src="/assets/img/singil.jpg" class="card-img-top" alt="highSchool Picture" style="width:auto; height:45.5vh;"/>
              <div class="card-body p-4">
                <h5 class="card-title fonsiz-xxl fonwei-kr-xl letsp-sm">신길고등학교(안산)</h5>
                <p class="card-text fonsiz-sm fonwei-kr-sm color-basic-opac letsp-sm">
                  문과 계열<br>
                  <span class="ls-0">2011-03 ~ 2014.02</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--<section class="container pt mt" id="document">
        <div class="row">
          <div class="col-lg-7 mx-auto text-center mb-5">
            <h2 class="section-header fonsiz-xxxl fonwei-en-xxl letsp-sm text-upper color-basic">Document</h2>
            <p class=" fonsiz-sm color-basic fonsiz-xl fonwei-kr-xs lh-md letsp-xs ws-sm my-4">
              가장 중요한 자산은 태도라고 생각합니다. <span class="fonwei-kr-md">문제</span>를 대하는 태도, <span class="fonwei-kr-md">개발</span>을 대하는 태도,
              <span class="fonwei-kr-md">팀원</span>을 대하는 태도가 <span class="fonwei-kr-md">오랜 시간</span>과 결합하면 엄청난 능력이 된다고 믿습니다. 
              그동안 노력해온 다양한 문서를 아래에서 보실 수 있습니다. 
            </p>
          </div>
        </div>
      </section>
      <section class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <div class="owl-carousel owl-theme">
              <div class="item">
                <div style="width: 100%; height: 0px">
                  <img src="/assets/img/file6.jpg" alt="">
                </div>
                <div class="fonsiz-sm fonwei-kr-sm letsp-sm color-basic-opac mt-3"><span class="letsp-md"> 2,770 contributions in the last year (github)</span> </div>
              </div>
              <div class="item">
                <div style="width: 100%; height: 0px">
                  <img src="/assets/img/file1.jpg" alt="">
                </div>
                <div class="fonsiz-sm fonwei-kr-sm letsp-sm color-basic-opac mt-3"><span class="letsp-md">2021</span> 특허 출원 중 : 오픈소스 기반 소프트웨어 프로세스 자동화 개선 방안<span class="letsp-md">.pdf</span> </div>
              </div>
              <div class="item">
                <div style="width: 100%; height: 0px">
                  <img src="/assets/img/file2.jpg" alt="">
                </div>
                <div class="fonsiz-sm fonwei-kr-sm letsp-sm color-basic-opac mt-3"><span class="letsp-md">2017</span> 챠트 오픈 소스 개발기<span class="letsp-md">.pdf</span></div>
              </div>
              <div class="item">
                <div style="width: 100%; height: 0px">
                  <img src="/assets/img/file3.jpg" alt="">
                </div>
                <div class="fonsiz-sm fonwei-kr-sm letsp-sm color-basic-opac mt-3"><span class="letsp-md">2017</span> 특허 등록 2종<span class="letsp-md">.pdf</span> </div>
              </div>
              <div class="item">
                <div style="width: 100%; height: 0px">
                  <img src="/assets/img/file4.jpg" alt="">
                </div>
                <div class="fonsiz-sm fonwei-kr-sm letsp-sm color-basic-opac mt-3"><span class="letsp-md">2016</span> 창업 사업계획서 (개발 부분)<span class="letsp-md">.pdf</span></div>
              </div>
              <div class="item">
                <div style="width: 100%; height: 395px">
                  <img src="/assets/img/file5.jpg" alt="">
                </div>
                <div class="fonsiz-sm fonwei-kr-sm letsp-sm color-basic-opac mt-3"><span class="letsp-md">2016</span> 웹서비스 모델 피치덱<span class="letsp-md">.pdf</span></div>
              </div>
            </div>
          </div>
        </div>
      </section> -->
      <!-- contact 시작  -->
      <section class="container pt mt" id="contact">
        <div class="row">
          <div class="col-lg-7 mx-auto text-center mb-5">
            <h2 class="section-header fonsiz-xxxl fonwei-en-xxl letsp-sm text-upper color-basic">
              Contact
            </h2>
            <p class=" fonsiz-sm color-basic fonsiz-xl fonwei-kr-xs lh-md letsp-xs ws-sm my-4">
              여기까지 읽어 주셔서 고맙습니다. <br/>
              더 성실하게, 항상 최선을 다하겠습니다. 
            </p>
          </div>
        </div>
      </section>
      <section class="container backimg">
        <div class="name-card d-flex justify-content-center align-items-center h-100">
          <div class="contact-body shadow">
            <div class="text-center mb-4">
              <h1>Sung Kyung AN</h1>
              <small>Web Developer</small>
            </div>
            <div class="d-flex">
              <img src="/assets/img/ask1.jpg" />
              <div class="ps-3">
                <ul class="list-unstyled">
                  <li>
                    <span>
                      <i class="bi bi-person-check-fill"></i>
                      Position : <strong>Developer</strong>
                    </span>
                  </li>
                  <li>
                    <span>
                      <i class="bi bi-envelope"></i>
                      Email :
                      <a href="mailto:tjdrud3632@naver.com">
                        <strong>tjdrud3632@naver.com</strong>
                      </a>
                    </span>
                  </li>
                  <li>
                    <span>
                      <i class="bi bi-telephone-inbound"></i>
                      Phone :
                      <a href="tel:010-9968-3632">
                        <strong>010-9968-3632</strong>
                      </a>
                    </span>
                  </li>
                </ul>
                <div class="contact-desc">
                  “feel free to contact me anytime.”
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- footer 시작  -->
        <footer class="container mt-auto mb-5">
          <div class="social-box text-center">
            <a class="social-title" href="https://github.com/tjdrud3632">GitHub</a>
            <a class="social-title" href="https://tjdrud3632.tistory.com/manage/posts/">Blog</a>
          </div>
          <div>
            <hr>
          </div>

        </footer>
        <!-- footer 끝  -->
      </section>
      <!-- Contact 끝  -->
    </main>
    <!-- Main 끝 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
